Repository Kvkthecreator/rightnow-agent-app-fullstack, changes with the owners that CODEOWNERS names for each.
All owners: @owner, @core-team, @agent-bot

Polish Agent-Operable Test Pipeline
  artifacts/test-report.json
  artifacts/test-report.md
  scripts/agent-test.ts
  scripts/seed-e2e.ts
  web/app/about/page.tsx
  web/setupTests.ts
Owners: @agent-bot, @owner, @core-team

Document Agent-Operable Test Pipeline
  README.md
  docs/TEST_ARCHITECTURE_AUDIT.md
Owners: @owner, @core-team, @agent-bot

fix(web): minimal onboarding auth propagation using /lib/env; revert unrelated edits
  web/app/api/onboarding/complete/route.ts
  web/lib/server/http.ts
Owners: @owner, @core-team

fix(web): support varied /lib/env exports in apiFetch helper
  web/lib/server/http.ts
Owners: @owner, @core-team

fix(web): support varied /lib/env exports in apiFetch helper
  web/lib/server/http.ts
Owners: @owner, @core-team

fix(web): minimal onboarding auth propagation using /lib/env; revert unrelated edits
  web/app/api/onboarding/complete/route.ts
  web/lib/server/http.ts
Owners: @owner, @core-team

CODEOWNERS:

# YARNNN Agent-Operable Test Pipeline - CODEOWNERS
# 
# Guardrails to ensure agents can manage testing infrastructure
# while product code remains under human review

# Default: Human review required
* @owner

# Product code: Core team review required
/web/app/**                    @owner @core-team
/web/components/**             @owner @core-team  
/web/lib/**                    @owner @core-team
/shared/**                     @owner @core-team

# Agent-manageable: Test infrastructure and automation
/tests/**                      @agent-bot
/scripts/**                    @agent-bot
/artifacts/**                  @agent-bot

# Shared oversight: CI/CD requires both human and agent
/.github/workflows/**          @owner @agent-bot

# Documentation: Human review for architecture, agent for test docs
/docs/TEST_*.md               @agent-bot
/docs/YARNNN_*.md             @owner @core-team
/README.md                    @owner @core-team

# Configuration: Shared management
/package.json                 @owner @agent-bot
/tsconfig*.json              @owner @agent-bot
/playwright.config.ts        @owner @agent-bot
